[defaults]
inventory=./inventory/hosts ; the inventory directory
vault_password_file=./.vault_password ; the password used for encrypting private values
private_key_file=~/.ssh/id_ed25519 ; path to the SSH private key
remote_user=anbar
enable_plugins=auto
